@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

/* *********************   NAVBAR  ************************ */
/* .logo{
  width: 3rem;
} 
*/

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav > li > a{
  border-bottom: 0.2rem solid transparent;
  margin-left: 0.65rem;
  margin-right: 0.65rem;
  color: var(--primary-white) !important;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.18rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.18rem solid var(--primary-orange);
}

.navbar-toggler-icon{
  color: #fff !important;
}

/* *********************   HEADER  ************************ */
.header-wrapper{
  position: relative;
  background: url('header2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1{
  text-transform: uppercase;
  color: var(--primary-orange);
}

/* ******************* TYPED TEXT ******************** */
.typed-text {
  color: var(--primary-white);
  font-size: 2rem;
}

/* ******************* HEADER'S OFFER BUTTON ******************** */
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  margin-left: 40%;
  margin-right: 40%;
}














